<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" >
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="robots" content="noindex, nofollow"/>
    <link rel="icon" type="image/ico" href="img/favicon.ico" />
    <title>{{ ansible_hostname }}</title>
    <style type="text/css">
    body, html {
    margin: auto;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    border-top: #86CBE7 solid 1px;
    }
    #container {
    padding-top: 20px;
    width: 500px;
    margin: auto;
    overflow: hidden;
    }
    h1.hostname {
    padding-top: 50px;
    color: #373637;
    border-bottom: 1px solid #a9a9a9;
    background-image: url(./img/background-top.png);
    background-repeat: no-repeat;
    background-position: 245px 5px;
    }
    ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    }
    li:before
    {
    content: "• ";
    color: #373637;
    }
    a {
    color: #86CBE7;
    text-decoration: none;
    }
    a:hover {
    color: #373637;
    text-decoration: none;
    }
    p.footer {
    border-top: 1px solid #a9a9a9;
    padding-top: 5px;
    font-size: 12px;
    text-align: right;
    }
    </style>
</head>
<body>

    <div id="container">
        <h1 class="hostname">{{ ansible_hostname }}</h1>

        <ul>
            <li><a href="/munin/{{ ansible_domain }}/{{ ansible_fqdn }}/">Stats système</a></li>
            <!--
            <li><a href="/phpmyadmin-PHPMASECRET/">Accès PhpMyAdmin</a></li>
            <li><a href="/mysqlreport.html">Dernier rapport MySQL Tuner</a></li>
            <li><a href="/cgi-bin/awstats.pl">Stats web</a></li>
            <li><a href="/info.php">Infos PHP</a></li>
            <li><a href="/opcache.php">Infos OpCache PHP</a></li>
            <li><a href="/server-status-RANDOM_SERVERSTATUS/">Server Status</a></li>
            -->
        </ul>

        <p class="footer">
            Powered by <a href="http://www.evolix.fr/">Evolix</a>
        </p>
    </div>

</body>
</html>
