Defaults        umask=0077

Cmnd_Alias      MAINT = /usr/share/scripts/evomaintenance.sh, /usr/share/scripts/listupgrade.sh

%{{ evolinux_sudo_group }}  ALL=(ALL:ALL) ALL
%{{ evolinux_sudo_group }}  ALL = NOPASSWD: MAINT
