Defaults        umask=0077

Cmnd_Alias      MAINT = /usr/share/scripts/evomaintenance.sh, /usr/share/scripts/listupgrade.sh
User_Alias      ADMINS = {{ user.name }}

ADMINS          ALL = (ALL:ALL) ALL
ADMINS          ALL = NOPASSWD: MAINT
