Defaults        umask=0077

Cmnd_Alias      MAINT = /usr/share/scripts/evomaintenance.sh, /usr/share/scripts/listupgrade.sh, /usr/bin/apt, /bin/mount

nagios          ALL = NOPASSWD: /usr/lib/nagios/plugins/check_procs
nagios          ALL = NOPASSWD: /usr/local/lib/nagios/plugins/check_minifirewall
nagios          ALL = NOPASSWD: /usr/local/lib/nagios/plugins/check_haproxy_stats
nagios          ALL = NOPASSWD: /usr/sbin/bkctld check
nagios          ALL = NOPASSWD: /usr/sbin/bkctld check-jails
nagios          ALL = NOPASSWD: /usr/sbin/bkctld check-setup
nagios          ALL = NOPASSWD: /usr/local/lib/nagios/plugins/check_phpfpm_multi /var/lib/lxc/php56/rootfs/etc/php5/fpm/pool.d/
nagios          ALL = NOPASSWD: /usr/local/lib/nagios/plugins/check_phpfpm_multi /var/lib/lxc/php70/rootfs/etc/php/7.0/fpm/pool.d/
nagios          ALL = NOPASSWD: /usr/local/lib/nagios/plugins/check_phpfpm_multi /var/lib/lxc/php73/rootfs/etc/php/7.3/fpm/pool.d/
nagios          ALL = NOPASSWD: /usr/local/lib/nagios/plugins/check_phpfpm_multi /var/lib/lxc/php74/rootfs/etc/php/7.4/fpm/pool.d/
nagios          ALL = NOPASSWD: /usr/lib/nagios/plugins/check_ipmi_sensor
nagios          ALL = NOPASSWD: /sbin/dmsetup status --noflush
nagios          ALL = NOPASSWD: /sbin/megacli -PDList -aALL -NoLog
nagios          ALL = NOPASSWD: /sbin/megacli -LdInfo -Lall -aALL -NoLog
nagios          ALL = NOPASSWD: /sbin/megacli -AdpBbuCmd -GetBbuStatus -aALL -NoLog
nagios          ALL = NOPASSWD: /sbin/ssacli controller all show status
nagios          ALL = NOPASSWD: /sbin/ssacli controller slot=0 logicaldrive all show
      
nagios          ALL = (clamav) NOPASSWD: /usr/bin/clamscan /tmp/safe.txt

%{{ evolinux_sudo_group }}  ALL=(ALL:ALL) ALL
%{{ evolinux_sudo_group }}  ALL = NOPASSWD: MAINT
