/var/log/{{ squid_daemoname }}/*.log {
    monthly
    compress
    rotate 12
    missingok
    create 640 proxy adm
    sharedscripts
    postrotate
        test ! -e /var/run/{{ squid_daemoname }}.pid || /usr/sbin/{{ squid_daemoname }} -k rotate
    endscript
}
