/var/log/{{ squid_daemon_name }}/*.log {
    monthly
    compress
    rotate 12
    missingok
    create 640 proxy adm
    sharedscripts
    postrotate
        test ! -e /var/run/{{ squid_daemon_name }}.pid || /usr/sbin/{{ squid_daemon_name }} -k rotate
    endscript
}
