# Ports
http_port 8888 transparent
icp_port 0

# ACL
#acl all src 0.0.0.0/0.0.0.0
acl localhost src 127.0.0.0/32
acl INTERNE src {{ squid_address }}/32 127.0.0.0/8
acl Safe_ports port 80          # http
acl SSL_ports port 443 563
acl WHITELIST url_regex "/etc/squid3/whitelist-evolinux.conf"
acl WHITELIST url_regex "/etc/squid3/whitelist-custom.conf"
http_access deny !WHITELIST
http_access allow INTERNE
http_access deny all
tcp_outgoing_address {{ squid_address }}

# Logs
logformat combined %>a %[ui %[un [%tl] "%rm %ru HTTP/%rv" %>Hs %<st "%{Referer}>h" "%{User-Agent}>h" %Ss:%Sh
access_log /var/log/squid3/access.log combined
