local_ip="{{ ipsec_local_ip }}"
local_network="{{ ipsec_local_network }}"

remote_ip_{{ ipsec_name }}="{{ ipsec_remote_ip }}"
remote_networks_{{ ipsec_name }}="{{ ipsec_remote_network }}"

ike esp from $local_network to $remote_networks_{{ ipsec_name }} peer $remote_ip_{{ ipsec_name }} \
main auth hmac-sha2-512 enc aes group modp4096 \
quick auth hmac-sha2-512 enc aes group modp4096 \
psk "{{ ipsec_psk }}"
