[Unit]
Description=Advanced key-value store
After=network.target

[Service]
ExecStartPre=/bin/mkdir -m 0755 -p /var/run/redis-%i
ExecStartPre=/bin/chown redis-%i: /var/run/redis-%i
PermissionsStartOnly=yes

Type=forking
ExecStart=/usr/bin/redis-server /etc/redis-%i/redis.conf --unixsocket /var/run/redis-%i/redis.sock --pidfile /var/run/redis-%i/redis-server.pid
ExecStop=/usr/bin/redis-cli -s /var/run/redis-%i/redis.sock shutdown
Restart=always
User=redis-%i
Group=redis-%i
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target
