[Unit]
Description=Tiny metric collector that relabel, filter and store metrics using remote_write protocol
Documentation=https://docs.victoriametrics.com/victoriametrics/vmagent/

[Service]
# Values copied from victoria-metrics.service
Type=simple
User=_victoria-metrics
LimitNOFILE=65536
LimitNPROC=32000
StartLimitBurst=5
StartLimitInterval=0
Restart=on-failure
RestartSec=10

CacheDirectory=vmagent
EnvironmentFile=/etc/victoria-metrics/vmagent.d/*.env
ExecStart= /bin/vmagent -envflag.enable
ExecReload=kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
