### Override the default value set in the general config or compiled in OpenSSH
{% if evolinux_ssh_permitrootlogin is defined and evolinux_ssh_permitrootlogin != None and (evolinux_ssh_permitrootlogin | length > 0) %}
PermitRootLogin {{ evolinux_ssh_permitrootlogin }}
{% else %}
# PermitRootLogin no
{% endif %}


{% if ansible_distribution_major_version is version('13', '>=') %}
### To exempt some sources from getting penalities, uncomment the following line
# PerSourcePenaltyExemptList {{ evolinux_ssh_penalty_exempt_list | join(",") }}

### FIXME The following directive should be in z-evolinux-defaults.conf, but we wouldn't be able to override then
PerSourcePenaltyExemptList *
{% endif %}


### To open **additional** ports (on top of 22), add lines like this, one for each port
# Port 22222

### OpenSSH listen by default on all addresses.
### Add one or more lines to restrict to these addresses (port is optional)
### https://manpages.debian.org/openssh-server/sshd_config.5.en.html#ListenAddress
# ListenAddress 127.0.0.1
# ListenAddress 192.168.42.1:22222

### To restrict SSH access to one or more groups, uncomment the following line
# AllowGroups {{ evolinux_ssh_group }}

### To allow root access from specific IP addresses, uncomment the following block
# Match User root Address 10.0.0.1,192.168.0.1
#     AllowGroups root
#     PubkeyAuthentication yes
#     PasswordAuthentication no
#     PermitRootLogin without-password

### WARNING
### do not put directives after a Match, without a new Match
### Regular directives must be added before all the Match blocks
