# {{ ansible_managed }}

Types: deb
URIs: http://mirror.evolix.org/debian
Suites: bookworm-backports
Components: {{ apt_backports_components | mandatory }}
Enabled: {{ apt_install_backports | bool | ternary('yes', 'no') }}
