# {{ ansible_managed }}

Types: deb
URIs: http://mirror.evolix.org/debian-security
Suites: trixie-security
Components: {{ apt_basics_components | mandatory }}
Enabled: yes
Signed-By: /usr/share/keyrings/debian-archive-trixie-security-automatic.pgp
