[mysqld]
bind-address = {{ mysql_bind_address }}
thread_cache_size = {{ mysql_thread_cache_size }}
innodb_buffer_pool_size = {{ mysql_innodb_buffer_pool_size }}
max_connections = {{ mysql_max_connections }}
max_connect_errors = {{ mysql_max_connect_errors }}
table_cache = {{ mysql_table_cache }}
tmp_table_size = {{ mysql_tmp_table_size }}
max_heap_table_size = {{ mysql_max_heap_table_size }}
query_cache_limit = {{ mysql_query_cache_limit }}
query_cache_size = {{ mysql_query_cache_size }}

