location ~ /.well-known/acme-challenge {
{% if ansible_distribution_major_version is version('9', '>=') %}
    alias {{ evoacme_acme_dir }}/;
{% else %}
    alias {{ evoacme_acme_dir }}/.well-known/acme-challenge;
{% endif %}
    try_files $uri =404;
    auth_basic off;
    allow all;
}
