[Unit]
Description=Etherpad - open source online editor for real-time collaborative editing.
Documentation=https://etherpad.org/doc/v1.8.18/
After=network.target
After=mariadb.service

[Service]
Type=simple
Environment=NODE_ENV=production
ExecStart=pnpm run prod
Restart=always
User={{service}}
Group={{service}}
WorkingDirectory=/home/{{service}}/etherpad-lite

[Install]
WantedBy=multi-user.target
