<template id = "welcome-page-additional-content-template">
    <div class="welcome-page-content">
        <div class="welcome-footer">
            <div class="welcome-footer-centered">
                <div class="welcome-footer-padded">
                    <div class="welcome-footer-row-block welcome-footer--row-1">
                        <div class="welcome-footer-row-1-text">Jitsi on mobile – download our apps and start a meeting from anywhere </div>
                        <a class="welcome-badge" href="https://apps.apple.com/us/app/jitsi-meet/id1165103905"><img src="./images/app-store-badge.png"></a>
                        <a class="welcome-badge" href="https://play.google.com/store/apps/details?id=org.jitsi.meet&amp;hl=en&amp;gl=US"><img src="./images/google-play-badge.png"></a>
                        <a class="welcomebadge" href="https://f-droid.org/en/packages/org.jitsi.meet/"><img src="./images/f-droid-badge.png"></a>
                    </div>
        
                    <div class="welcome-footer-row-block welcome-footer--row-2">
                        <div style="padding-top:0.7em; padding-bottom:0.7em;">
                            <a href="https://evolix.com" rel="noopener" target="_blank">Hébergé par Evolix</a> | Nous proposons une utilisation gratuite sous réserve d'accepter nos <a href="https://evolix.com/cgu.html" rel="noopener" target="_blank">CGU</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
