# {{ ansible_managed }}

Types: deb
URIs: https://artifacts.elastic.co/packages/{{ elastic_stack_version | mandatory }}/apt
Suites: stable
Components: main
Signed-by: {{ apt_keyring_dir }}/elastic.asc
Enabled: yes