[Unit]
Description=Evolix alert5 script
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/share/scripts/alert5.sh

[Install]
WantedBy=multi-user.target