# {{ ansible_managed }}

Types: deb
URIs: https://downloads.linux.hpe.com/SDR/repo/mcp
Suites: {{ ansible_distribution_release }}/current
Components: non-free
Signed-By: {{ apt_keyring_dir }}/hpe.asc
Enabled: yes
