# {{ ansible_managed }}

Types: deb
URIs: http://hwraid.le-vert.net/debian
Suites: {{ ansible_distribution_release }}
Components: main
Signed-by: {{ apt_keyring_dir }}/hwraid.le-vert.net.asc
Enabled: yes
