[bind*]
user root
env.logfile {{ bind_query_file }}
{% if bind_authoritative_server %}
env.querystats {{ bind_chroot_path }}{{ bind_statistics_file }}
{% endif %}
env.MUNIN_PLUGSTATE /var/lib/munin
timeout 120
