// acl "foo" {
//     ::ffff:192.0.2.21; 192.0.2.21;
//     2001:db8::21;
// };

options {
    directory "{{ bind_cache_dir }}";
    version "Bingo";
    auth-nxdomain no;
    masterfile-format text;
    statistics-file "{{ bind_statistics_file }}";

    listen-on { {{ bind_listen_on_ipv4 }} };
    listen-on-v6 { {{ bind_listen_on_ipv6 }} };

{% if bind_notify_source is defined and bind_notify_source|length %}
    notify-source {{ bind_notify_source }};
{% endif %}
{% if bind_transfer_source is defined and bind_transfer_source|length %}
    transfer-source {{ bind_transfer_source }};
{% endif %}

    allow-query { localhost; };
    allow-recursion { localhost; };
    allow-transfer { localhost; };
};

logging {
    category default { default_file; };
{% if bind_query_file_enabled | bool %}
    category queries { query_logging; };
{% endif %}

    channel default_file {
        file "{{ bind_log_file }}";
        severity info;
    };
{% if bind_query_file_enabled | bool %}
    channel query_logging {
        file "{{ bind_query_file }}" versions 2 size 128M;
        print-category yes;
        print-severity yes;
        print-time yes;
    };
{% endif %}
};
