options {
    directory "{{ bind_cache_dir }}";
    version "Bingo";
    auth-nxdomain no;
    listen-on-v6 { ::1; };
    listen-on { 127.0.0.1; };
    allow-recursion { ::1; 127.0.0.1; };
};

logging {
    category default { default_file; };
{% if bind_query_file_enabled | bool %}
    category queries { query_logging; };
{% endif %}

    channel default_file {
        file "{{ bind_log_file }}";
        severity info;
    };
{% if bind_query_file_enabled | bool %}
    channel query_logging {
        file "{{ bind_query_file }}" versions 2 size 128M;
        print-category yes;
        print-severity yes;
        print-time yes;
    };
{% endif %}
};
