<VirtualHost *:80>
    ServerName {{ domains |first }}
    
    {% if ssl.stat.exists %}
    RewriteEngine On
    RewriteCond %{HTTPS} !=on
    RewriteCond %{HTTP:X-Forwarded-Proto} !=https
    RewriteRule ^/(.*) https://%{SERVER_NAME}/$1 [L,R=permanent]
    {% endif %}

</VirtualHost>

{% if ssl.stat.exists %}
<VirtualHost *:443>
    ServerName {{ domains |first }}

    DocumentRoot /home/{{ service }}/PrivateBin
    
    <Directory /home/{{ service }}/PrivateBin>
        Options SymLinksIfOwnerMatch
        AllowOverride Options=All AuthConfig Limit FileInfo Indexes
        Require all granted
    </Directory>
    
    AssignUserID {{ service }} {{ service }}

    IncludeOptional /etc/apache2/ssl/{{ service }}.conf

</VirtualHost>
{% endif %}
