<?php

$localconf['admin']['mail'] = '{{ evoadmin_contact_email or general_alert_email | mandatory }}';
$localconf['debug'] = FALSE;
// Add local users that should be superadmin
$localconf['superadmin'] = array();
$localconf['script_path'] = '{{ evoadmin_scripts_dir }}';
$localconf['cluster'] = FALSE;

// Generate password hashes : mkpasswd --method=sha-512 (cli) or with PHP's password_hash()
$localconf['logins'] = array();
//$localconf['logins']['foo'] = '$6$X0jqa/ausLSBkj4m$dLMMcPGVxak.aDPo4V/GJLm2d8vU8/QA5LbGTuqXCdxSNYU0kRKBgDl16GAyp0GqXXZ5wwDEJKQ1npgFwiuV81';
//$localconf['logins']['bar'] = '$6$Q6233S6mlWAF6p.j$LtzwG02YucozwqjAgSpeldh24Mnz7lBuVSbOQYbKKh9FiUx3tMVl6kJZkmrNdPqeadFXKAYXrqn.gy8KposF5.';

{% if evoadmin_multiphp_versions != [] %}
$localconf['php_versions'] = array( {{ evoadmin_multiphp_versions | join(', ') | replace('php', '') }} );
{% endif %}
