<VirtualHost *:80>
    ServerName {{ evoadmin_host }}
    Redirect permanent / https://{{ evoadmin_host }}/
</VirtualHost>

<VirtualHost *:443>
    # FQDN principal
    ServerName {{ evoadmin_host }}
    #ServerAlias {{ evoadmin_host }}

    # SSL
    SSLEngine on
    SSLCertificateFile    /etc/ssl/certs/{{ evoadmin_host }}.crt
    SSLCertificateKeyFile /etc/ssl/private/{{ evoadmin_host }}.key
    SSLProtocol all -SSLv2 -SSLv3

    <IfModule security2_module>
        SecRuleEngine Off
    </IfModule>

    # LOG
    CustomLog /var/log/apache2-front/access.log combined

    # REWRITE
    UseCanonicalName On
    RewriteEngine On
    RewriteCond %{HTTP_HOST} !^{{ evoadmin_host }}$
    RewriteRule ^/(.*) https://%{SERVER_NAME}/$1 [L,R]

    RequestHeader set "X-Forwarded-Proto" expr=%{REQUEST_SCHEME}
    RequestHeader set "X-Forwarded-SSL" expr=%{HTTPS}
    ProxyPreserveHost On
    ProxyPass / "http://{{ evoadmin_multiinstance_backend_port }}/"
    ProxyPassReverse / http://{{ evoadmin_multiinstance_backend_port }}/

    <Proxy "http://{{ evoadmin_multiinstance_backend_port }}/">
    </Proxy>
</VirtualHost>
