##  Par exemple pour bloquer une salle commençant par « patate » :
##  location ~* /patate { return 404; }
##  if ($query_string ~* room=patate) { return 404; }
##  if ($http_referer ~* /patate) {  return 404; }

