---
- name: 'reload systemd'
  command: 'systemctl daemon-reload'

- name: 'restart bind'
  service:
    name: 'bind9'
    state: 'restarted'

- name: 'restart munin-node'
  service:
    name: 'munin-node'
    state: 'restarted'
