# {{ ansible_managed }}

Types: deb
URIs: http://apt.postgresql.org/pub/repos/apt/
Suites: {{ ansible_distribution_release }}-pgdg
Components: main
Signed-by: {{ apt_keyring_dir }}/postgresql.asc
Enabled: yes