[Unit]
Description=Mastodon Microblogging service
Wants=redis-server.service
After=redis-server.service
Requires={{ service }}-web.service {{ service }}-sidekiq.service {{ service }}-streaming.service

[Install]
WantedBy=multi-user.target
