[Unit]
Description=Mattermost
After=network.target
After=postgresql.service
Requires=postgresql.service

[Service]
Type=notify
Restart=always
WorkingDirectory={{ mattermost_home_base }}/%i/mattermost
ExecStart=/{{ mattermost_home_base }}/%i/mattermost/bin/mattermost
TimeoutStartSec=3600
LimitNOFILE=49152
RestartSec=10
User=%i
Group=%i

[Install]
WantedBy=multi-user.target

