[Unit]
Description=Mattermost
After=syslog.target
After=network.target
After=postgresql.service
Requires=postgresql.service

[Service]
Type=notify
Restart=always
WorkingDirectory={{ mattermost_home_base }}/%i/{{ mattermost_current }}
ExecStart={{ mattermost_home_base }}/%i/{{ mattermost_current }}/bin/mattermost -c {{ mattermost_home_base }}/%i/config/config.json
TimeoutStartSec=360
LimitNOFILE=49152
SyslogIdentifier=mattermost-%i
RestartSec=30
User=%i
Group=%i

Environment="TMP={{ mattermost_home_base }}/%i/{{ mattermost_current }}/temp"
Environment="TEMP={{ mattermost_home_base }}/%i/{{ mattermost_current }}/temp"

# Hardening
NoNewPrivileges=yes
PrivateTmp=yes
PrivateDevices=yes
PrivateUsers=yes
ProtectHome=read-only
ProtectSystem=strict
ProtectControlGroups=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
MemoryDenyWriteExecute=yes
ReadWritePaths={{ mattermost_home_base }}/%i
RestrictNamespaces=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes
LockPersonality=yes

[Install]
WantedBy=multi-user.target

