Defaults        umask=0077

Cmnd_Alias      MAINT = /usr/share/scripts/evomaintenance.sh, /usr/share/scripts/listupgrade.sh, /usr/bin/apt, /bin/mount
User_Alias      ADMINS = {{ user.name }}

nagios          ALL = NOPASSWD: /usr/lib/nagios/plugins/check_procs
nagios          ALL = (clamav) NOPASSWD: /usr/bin/clamscan /tmp/safe.txt

ADMINS          ALL = (ALL:ALL) ALL
ADMINS          ALL = NOPASSWD: MAINT
