APP_NAME = Gitea
RUN_USER = {{ gitea_service }}
RUN_MODE = prod

[server]
PROTOCOL               = unix
DOMAIN                 = {{ gitea_domains | first }}
HTTP_ADDR              = /home/{{ gitea_service }}/gitea.sock
UNIX_SOCKET_PERMISSION = 660
OFFLINE_MODE           = true
SSH_DOMAIN             = {{ gitea_domains | first }}
ROOT_URL               = https://{{ gitea_domains | first }}/

[repository]
ROOT = /home/{{ gitea_service }}/repositories

[log]
ROOT_PATH = /home/{{ gitea_service }}/log/
MODE      = console
LEVEL     = info

[i18n]
LANGS = fr-FR, en-US
NAMES = Français,English

[database]
DB_TYPE  = mysql
HOST     = {{ gitea_db_host }}
NAME     = {{ gitea_db_name }}
USER     = {{ gitea_db_user }}
PASSWD   = {{ gitea_db_password }}

[session]
PROVIDER         = redis
PROVIDER_CONFIG  = network=unix,addr=/home/{{ gitea_service }}/redis/redis.sock,db=0,pool_size=100,idle_timeout=180

[cache]
ADAPTER = redis
HOST    = network=unix,addr=/home/{{ gitea_service }}/redis/redis.sock,db=1,pool_size=100,idle_timeout=180
