[Unit]
Description=Gitea (Git with a cup of tea) for %i
After=syslog.target
After=network.target
After=mysqld.service

[Service]
# Create /run/gitea/INSTANCE folder for socket
ExecStartPre=/bin/mkdir -m 0755 -p /run/gitea/%i
ExecStartPre=/bin/chown %i: /run/gitea/%i
PermissionsStartOnly=yes

User=%i
Group=%i

Type=simple
RestartSec=2s
Restart=always

WorkingDirectory=/home/%i
ExecStart=/usr/local/bin/gitea web --config /etc/gitea/%i.ini
Environment=GITEA_WORK_DIR=/home/%i/internals


[Install]
WantedBy=multi-user.target

