APP_NAME = Gitea {{ gitea_instance }}
RUN_USER = {{ gitea_instance }}
RUN_MODE = prod
WORK_PATH = /home/{{ gitea_instance }}/internals

[server]
PROTOCOL               = http+unix
DOMAIN                 = {{ gitea_domains | first }}
HTTP_ADDR              = /run/gitea/{{ gitea_instance }}/gitea.sock
UNIX_SOCKET_PERMISSION = 666
OFFLINE_MODE           = true
SSH_DOMAIN             = {{ gitea_domains | first }}
ROOT_URL               = https://{{ gitea_domains | first }}/
ENABLE_GZIP = true
LANDING_PAGE = home
DISABLE_SSH = false
SSH_PORT = 22

[repository]
ROOT = /home/{{ gitea_instance }}/repositories

[log]
ROOT_PATH = /home/{{ gitea_instance }}/log/
MODE      = console
LEVEL     = info

[i18n]
LANGS = fr-FR, en-US
NAMES = Français,English

[database]
DB_TYPE  = mysql
HOST     = {{ gitea_db_host }}
NAME     = {{ gitea_db_name }}
USER     = {{ gitea_db_user }}
PASSWD   = {{ gitea_db_password }}

[session]
PROVIDER         = redis
PROVIDER_CONFIG  = network=unix,addr=/run/redis-{{ gitea_instance }}/redis.sock,db=0,pool_size=100,idle_timeout=180

[cache]
ADAPTER = redis
HOST    = network=unix,addr=/run/redis-{{ gitea_instance }}/redis.sock,db=1,pool_size=100,idle_timeout=180
