daemonize yes
pidfile /var/run/redis-{{ gitea_instance }}/redis-server.pid
bind 127.0.0.1 ::1
port 6380

unixsocket /var/run/redis-{{ gitea_instance }}/redis.sock
unixsocketperm 770

timeout 300
tcp-keepalive 300

protected-mode yes

loglevel notice
logfile /var/log/redis-{{ gitea_instance }}/redis-server.log

databases 16
save 900 1
save 300 10
save 60 10000

dbfilename dump.rdb
dir /var/lib/redis-{{ gitea_instance }}

maxclients {{ gitea_redis_maxclients }}
maxmemory {{ gitea_redis_maxmemory }}
